body {
  background: #e5e5e5;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

main {
  width: 1440px;
  height: 1024px;
  margin: 24px auto;
}

.fila {
  display: flex;
}

.columna-izquierda {
  width: 70%;
  float: left;
}

.columna-derecha {
  width: 30%;
}

/* Clear floats after the columns */
.fila:after {
  content: "";
  display: table;
  clear: both;
}

.logo-alura {
  margin: 40px 40px;
  vertical-align: top;
}

.botones {
  vertical-align: bottom;
  position: absolute;
  bottom: 60px;
}

.texto {
  /* Ingrese el texto aqui */
  width: 100%;
  color: #0a3871;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  background: #e5e5e5;
  border: none;
  display: block;
}

.aviso {
  display: block;
}

.aviso p {
  display: inline;
  font-size: 18px;
  color: #495057;
}

.boton-principal {
  color: white;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  left: 24px;
  top: 24px;
  background: #0a3871;
  border-radius: 24px;
}

.boton-principal:hover {
  background: rgb(42, 85, 126);
  transition: 1s;
  cursor: pointer;
}

.boton-secundario {
  color: #0a3871;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  left: 24px;
  top: 24px;
  background: #d8dfe8;
  border-radius: 24px;
}

.boton-secundario:hover {
  background: rgb(129, 179, 226);
  transition: 1s;
  cursor: pointer;
}

.boton-copiar {
  color: #0a3871;
  position: relative;
  bottom: 20px;
  padding: 24px;
  gap: 8px;
  width: 80%;
  height: 67px;
  margin: 10%;
  background: #d8dfe8;
  border-radius: 24px;
}

.boton-copiar:hover {
  background: rgb(129, 179, 226);
  transition: 1s;
  cursor: pointer;
}

.rectangulo {
  width: 400px;
  background: white;
  height: 944px;
  margin: 20px auto;
  /* shadow */
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  position: relative;
}

.rectangulo .boton-copiar {
  position: absolute;
  bottom: 20px;
}

h2 {
  margin: 1em;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  font-family: "Inter";
  font-weight: bold;
  line-height: 1;
}

h3 {
  margin: 2em 1em;
  font-size: 30px;
  text-align: left;
  font-family: "Inter";
  padding-top: 50px;
  visibility: hidden;
  height: 0;
}

.rectangulo-texto {
  height: 85%;
  word-break: break-all;
  overflow-y: auto;
}

.texto-cuadro {
  margin: 2em 1em;
  font-size: 24px;
  text-align: center;
  line-height: 1;
}

.muneco {
  display: block;
  vertical-align: middle;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {

  main {
    width: auto;
  }

  .fila {
    width: auto;
    display: block;
  }

  .columna-izquierda {
    width: 100%;
    display: block;
    height: fit-content;
    margin-bottom: 400px;
    margin-left: 20px;
  }

  .columna-derecha {
    width: 100%;
    display:  inline-block;
    margin-top: auto;
  }

  .botones {
    width: 100%;
    margin: 0 0;
    
  }

  .rectangulo {
    margin 0 0;
  }

  .texto {
    max-width: fit-content;
    width: auto;
  }
}
